/*Импорт шрифтов*/
@font-face {
  font-family: "Montserrat_100";
  src: url("../fonts/Montserrat/thin_100/Montserrat-Thin.ttf") format("ttf"), url("../fonts/Montserrat/thin_100/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat/thin_100/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat/thin_100/Montserrat-Thin.eot") format('embedded-opentype');
  font-display: swap;
}
@font-face {
  font-family: "Montserrat_300";
  src: url("../fonts/Montserrat/light_300/Montserrat-Light.ttf") format("ttf"), url("../fonts/Montserrat/light_300/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/light_300/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/light_300/Montserrat-Light.eot") format('embedded-opentype');
  font-display: swap;
}
@font-face {
  font-family: "Montserrat_700";
  src: url("../fonts/Montserrat/bold_700/Montserrat-Bold.ttf") format("ttf"), url("../fonts/Montserrat/bold_700/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/bold_700/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/bold_700/Montserrat-Bold.eot") format('embedded-opentype');
  font-display: swap;
}
/*Переменные и миксины*/
.forcontainer {
  width: 1366px;
  margin: 0 auto;
}
/* Универсальная кнопка Order US */
.order-btn {
  display: block;
  margin: 0;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  width: 212px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
  border-radius: 22.5px;
  text-decoration: none;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  position: relative;
  transition: 0.2s ease-in-out;
}
.order-btn:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #212121;
  border-right: 2px solid #212121;
  position: absolute;
  top: 16px;
  right: 19px;
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
}
.order-btn:hover {
  background-color: #212121;
  color: #ffffff;
}
.order-btn:hover:after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.order-btn:active {
  transform: scale(0.9);
}
/* Кнопки пагинации */
.pagination {
  align-self: center;
  display: flex;
}
.pagination-dot {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 7px;
  border-radius: 30px;
  background-color: #c7c7c7;
  outline: 2px solid transparent;
  transition: 0.2s ease-in-out;
}
.pagination-dot:hover {
  background-color: #212121;
  outline: 2px solid #212121;
}
.pagination-dot:active {
  outline: 2px solid transparent;
}
/* Клавища Explore all */
.exploreAll {
  display: block;
  float: right;
  position: relative;
  padding: 0;
  margin: 12px 20px 0 0;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.exploreAll:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #212121;
  border-right: 2px solid #212121;
  position: absolute;
  top: 7px;
  right: -15px;
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
}
.exploreAll:hover {
  transform: scale(1.1);
}
.exploreAll:active {
  transform: scale(1);
}
/*Header*/
.main-header {
  width: 1366px;
  margin: 0 auto;
  padding: 60px 20px 20px 100px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-top {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.logo {
  display: block;
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
.logo:active {
  transform: scale(0.9);
}
.logo-svg {
  fill: #212121;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.menu-link {
  display: block;
  text-decoration: none;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #8c8c8c;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.menu-link:nth-child(1) {
  width: 75px;
}
.menu-link:nth-child(2) {
  width: 114px;
}
.menu-link:nth-child(3) {
  width: 97px;
}
.menu-link:nth-child(4) {
  width: 128px;
}
.menu-link:nth-child(5) {
  width: 100px;
  margin: 0 15px 0 0;
}
.menu-link:hover {
  font-family: Montserrat_700, Arial, sans-serif;
  color: #212121;
  border-bottom: 3px solid #212121;
}
#menu-search {
  width: 23px;
  height: 23px;
  margin: 0 150px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/search_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s ease-in-out;
}
#menu-search:hover {
  transform: scale(1.2);
}
#menu-search:focus {
  width: 173px;
  margin: 0;
  border-radius: 5px;
  background-image: none;
  transform: scale(1.1);
  outline: 1px solid #8c8c8c;
  color: #8c8c8c;
}
.header-bot {
  margin: 0;
  padding: 283px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header-info {
  margin: 0 0 140px 0;
  padding: 0;
}
.header-info-ticket {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #43a047;
  padding: 0;
  margin: 0 0 8px 0;
}
.header-info-h1 {
  font-family: Montserrat_100, Arial, sans-serif;
  font-size: 62px;
  font-weight: 400;
  text-transform: uppercase;
  color: #212121;
  margin: 0 0 10px 0;
  padding: 0;
  letter-spacing: -3px;
}
.header-info-p {
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  color: #6c6c6c;
  line-height: 24px;
  width: 470px;
  margin: 0 0 30px 0;
  padding: 0;
}
/* Main */
/* Section Featured-New */
.main-container {
  width: 1366px;
  margin: 0 auto;
  padding: 0;
}
.featured {
  margin: 0;
  padding: 120px 100px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.categorySwitcher {
  float: left;
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #6c6c6c;
}
.categorySwitcher-links {
  display: block;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #6c6c6c;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 20px 15px 20px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}
.categorySwitcher-links:hover {
  color: #212121;
  border-bottom: 2px solid #212121;
}
.categorySwitcher-links:active {
  transform: scale(0.9);
}
.featured-products {
  clear: both;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.featured-product {
  position: relative;
  padding: 0;
  margin: 0;
}
.featured-product-img {
  transition: 0.2s ease-in-out;
}
.featured-product-a {
  display: none;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
  border-radius: 24px;
  position: absolute;
  top: 62px;
  left: 111px;
  transition: 0.2s ease-in-out;
}
.featured-product-span {
  display: none;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 22px;
  line-height: 29px;
  color: #212121;
  text-transform: capitalize;
  position: absolute;
  top: 129px;
  left: 63px;
  transition: 0.2s ease-in-out;
}
.featured-product-p {
  display: none;
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #6c6c6c;
  text-align: center;
  width: 210px;
  position: absolute;
  top: 169px;
  left: 32px;
  transition: 0.2s ease-in-out;
}
.featured-product:hover .featured-product-img {
  opacity: 0.3;
}
.featured-product:hover .featured-product-a,
.featured-product:hover .featured-product-span,
.featured-product:hover .featured-product-p {
  display: block;
}
.featured-product-a:hover {
  transform: scale(1.1);
}
.featured-product-a:active {
  transform: scale(1);
}
/* Блок EXCLUSIVE с 2 стульями */
.exclusive {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.exclusive-itm {
  margin: 0;
  padding: 228px 259px 256px 52px;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.exclusive-itm:nth-child(1) {
  background-color: #e8e9eb;
  background-image: url("../img/exclusive_bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.exclusive-itm:nth-child(2) {
  background-color: #f7f7f7;
  background-image: url("../img/exclusive_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.exclusive-itm-ticket {
  padding: 0;
  margin: 0 0 18px 0;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
}
.exclusive-itm-h {
  padding: 0;
  margin: 0 0 24px 0;
  text-transform: capitalize;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 36px;
  color: #212121;
}
.exclusive-itm-p {
  padding: 0;
  margin: 0 0 34px 0;
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14.1px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
/* Блок Trending Products */
.trending {
  margin: 0;
  padding: 120px 100px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.trending-h {
  float: left;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 36px;
  color: #212121;
}
.trending-container {
  clear: both;
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}
.trending-itm {
  display: block;
  transition: 0.2s ease-in-out;
}
.trending-itm:hover {
  transform: scale(1.1);
}
.trending-itm:active {
  transform: scale(1);
}
/* Блок Hot Deal */
.hotDeal {
  margin: 0;
  padding: 287px 0 20px 100px;
  box-sizing: border-box;
  background-color: #dee7f2;
  background-image: url("../img/hotdeal_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hotDeal-info {
  margin: 0 0 226px 0;
  padding: 0;
}
.hotDeal-info-ticket {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e53935;
  padding: 0;
  margin: 0 0 8px 0;
}
.hotDeal-info-h1 {
  font-family: Montserrat_100, Arial, sans-serif;
  font-size: 62px;
  font-weight: 400;
  text-transform: uppercase;
  color: #212121;
  margin: 0 0 10px 0;
  padding: 0;
  letter-spacing: -3px;
}
.hotDeal-info-p {
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  color: #6c6c6c;
  line-height: 24px;
  width: 470px;
  margin: 0 0 30px 0;
  padding: 0;
}
/* Второй блок Exclusive c gridом */
.exclusive2 {
  margin: 0;
  padding: 120px 100px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 30px;
}
.exclusive-bigItm {
  width: 570px;
  margin: 0;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #e9e9e9;
  background-image: url("../img/exclusive2_bigBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 3;
}
.exclusive-bigItm-ticket {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
  padding: 0;
  margin: 0 0 18px 0;
}
.exclusive-bigItm-h {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 36px;
  color: #212121;
  padding: 0;
  margin: 0 0 18px 0;
  text-transform: capitalize;
}
.exclusive-p {
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14.1px;
  line-height: 24px;
  color: #6c6c6c;
  width: 330px;
  padding: 0;
  margin: 0 0 34px 0;
}
.exclusive-smallItm {
  display: block;
  transition: 0.2s ease-in-out;
}
.exclusive-smallItm:hover {
  transform: scale(1.1);
}
.exclusive-smallItm:active {
  transform: scale(1);
}
/* Section Mobile App */
.mobile {
  margin: 0;
  padding: 125px 0 120px 100px;
  box-sizing: border-box;
  background-color: #f9f4f1;
  background-image: url("../img/mobile_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-ticket {
  display: block;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  padding: 0;
  margin: 0;
  width: 100%;
}
.mobile-h {
  display: block;
  font-family: Montserrat_100, Arial, sans-serif;
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
  padding: 0;
  margin: 0;
}
.mobile-p {
  display: block;
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 22px;
  color: #6c6c6c;
  padding: 0;
  margin: 0 0 33px 0;
}
.mobile-a {
  display: block;
  width: 135px;
  height: 40px;
  margin: 0;
}
.mobile-a:nth-child(6) {
  float: left;
  margin: 0 10px 0 0;
  background-image: url("../img/app_store.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.mobile-a:nth-child(7) {
  float: left;
  background-image: url("../img/google_play.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* Footer Top Half */
.main-footer {
  width: 1366px;
  margin: 0 auto;
  padding: 0;
  background-color: #f7f7f7;
}
.footer-top {
  margin: 0;
  padding: 120px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-contactUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.footer-contactUs-h {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin: 0 0 20px 0;
  padding: 0;
}
.footer-contacts {
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
  width: 225px;
  margin: 0;
  padding: 0;
}
.footer-contacts:nth-child(2) {
  margin-bottom: 20px;
}
.footer-usefulInfo {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 98px;
}
.footer-usefulInfo-h {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin: 0 0 10px 0;
  grid-column-start: 1;
  grid-column-end: 3;
}
.footer-usefulInfo-link {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 0.05em;
  color: #212121;
  line-height: 30px;
  text-decoration: none;
  padding: 0;
}
.footer-touch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
}
.footer-touch-h {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin: 0 0 20px 0;
  padding: 0;
}
.footer-touch-p {
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
  margin: 0 0 26px 0;
  padding: 0;
  width: 373px;
}
#email {
  width: 370px;
  height: 48px;
  border: 1px solid #d9dee1;
  margin: 0;
  padding: 16px 14px 15px 19px;
  box-sizing: border-box;
  font-family: Montserrat_300, Arial, sans-serif;
  font-size: 14px;
  color: #6c6c6c;
}
#email-button {
  position: absolute;
  bottom: 13px;
  right: 20px;
  height: 18px;
  width: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/send_email.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}
#email-button:hover {
  transform: scale(1.2);
}
#email-button:active {
  transform: scale(0.9);
}
/* Footer Bottom Half */
.footer-bottom {
  margin: 0;
  padding: 0 100px 30px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  margin: 0;
  padding: 0;
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
}
.footer-socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 135px;
}
.footer-socialLink {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../img/sprite.jpg");
  background-size: 910%;
  border-radius: 28px;
}
.facebook {
  background-position-x: -3px;
  background-position-y: -5px;
}
.facebook:hover {
  background-position-x: -3px;
  background-position-y: -139px;
}
.twitter {
  background-position-x: -46px;
  background-position-y: -5px;
}
.twitter:hover {
  background-position-x: -46px;
  background-position-y: -139px;
}
.google {
  background-position-x: -174px;
  background-position-y: -5px;
}
.google:hover {
  background-position-x: -174px;
  background-position-y: -139px;
}
.printerest {
  background-position-x: -217px;
  background-position-y: -5px;
}
.printerest:hover {
  background-position-x: -217px;
  background-position-y: -139px;
}
.footer-term {
  font-family: Montserrat_700, Arial, sans-serif;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
  text-decoration: none;
}
